<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{{this.onevent.event_name}} | EVENT-PLACE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="EVENT-PLACE">
    <meta name="copyright" content="Copyright EVENT-PLACE 2024">
    <meta name="description"
        content="MOTHER AFRICA FESTIVAL - ven. 27 déc. 2024 à 12h00 :  achetez en ligne des places dès maintenant. Commander sur EVENT-PLACE est simple, rapide, sécurisé.">
    <link rel="canonical" href="mother-africa-festival.html" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="mother-africa-festival.html">
    <meta property="og:title" content="MOTHER AFRICA FESTIVAL | EVENT-PLACE">
    <meta property="og:description"
        content="MOTHER AFRICA FESTIVAL - ven. 27 déc. 2024 à 12h00 :  achetez en ligne des places dès maintenant. Commander sur EVENT-PLACE est simple, rapide, sécurisé.">
    <meta property="og:image" content="../../../cdn.tikerama.com/images/6VK3YY5fNy32yxDn3XswVpTJYwdDJJWOKnF1o7DO.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="mother-africa-festival.html">
    <meta property="twitter:title" content="MOTHER AFRICA FESTIVAL | EVENT-PLACE">
    <meta property="twitter:description"
        content="MOTHER AFRICA FESTIVAL - ven. 27 déc. 2024 à 12h00 :  achetez en ligne des places dès maintenant. Commander sur EVENT-PLACE est simple, rapide, sécurisé.">
    <meta property="twitter:image"
        content="../../../cdn.tikerama.com/images/6VK3YY5fNy32yxDn3XswVpTJYwdDJJWOKnF1o7DO.jpg">
    <link rel="stylesheet" type="text/css" href="../../../bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../font/fontawesome-free-6.1.1-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../../../slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../../slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../../css/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/jquery.paginate.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/flag-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/style004f.css?v=6234">
    <link rel="shortcut icon" href="../../../img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../../manifest.json" />
    <link rel="mask-icon" href="../../../img/favicons/safari-pinned-tab.svg" color="#f0151f">
    <meta name="msapplication-TileColor" content="#f0151f">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css"
        href="../../../fonts.googleapis.com/csse7ca.css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="../../../css/ie10-viewport-bug-workaround.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QNZ8HH5938"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-QNZ8HH5938');
    </script>
    <link rel="stylesheet" type="text/css" href="../../../css/calendarControl183d.css?v=5462">
</head>

<body>
    <nav class="navbar navbar-expand-xl w-100">
        <div class="container-fluid">
            <button class="navbar-toggler pr-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"> <span class="fa-solid fa-bars"></span></button>
            <a class="navbar-brand mr-0" href="../../fr.html"><img class="img-fluid"
                    src="../../../img/brand/logo_event_place.png"
                    alt="EVENT-PLACE, N°1 de la billetterie événementielle en Côte d'Ivoire. Acheter et vendre des tickets d'événements n'a jamais été aussi facile."></a>
            <a class="navbar-mobile-btn open-mobile-search-window d-block d-xl-none" href="javascript:void(0)"><span
                    class="fa-solid fa-magnifying-glass"></span></a>
            <a class="navbar-mobile-btn d-block d-xl-none pr-2" href="../connexion.html"><span
                    class="fa-solid fa-user"></span></a>
            <div class="mobile-search-window">
                <form id="mobile-search-window-form" action="https://www.tikerama.com/fr/evenements" method="GET">
                    <div class="d-flex w-100 mt-2">
                        <div class="close-mobile-search-window m-auto">
                            <span class="fa-solid fa-arrow-left"></span>
                        </div>
                        <input type="text" name="recherche" class="form-control mobile-search-input mr-3"
                            placeholder='Recherchez un événement...' autocomplete="off">
                    </div>
                    <ul class="mobile-search-suggestions border-left border-bottom mt-1"></ul>
                </form>
                <div class="search-history"></div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../evenements.html">Événements</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="menu-dropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ressources</a>
                        <div class="dropdown-menu" aria-labelledby="menu-dropdown">
                            <a class="dropdown-item" href="../comment-ca-marche.html">Comment ça marche ?</a>
                            <a class="dropdown-item" href="../tarifs.html">Tarifs <small>(pour les
                                    organisateurs)</small></a>
                            <a class="dropdown-item" href="../faq.html">FAQ</a>
                            <a class="dropdown-item" href="../points-de-vente-physique.html">Points de vente
                                physique</a>
                            <a class="dropdown-item" href="../nous-contacter.html">Nous contacter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="locale-dropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                class="fi fi-fr"></span></a>
                        <div class="dropdown-menu" aria-labelledby="locale-dropdown">
                            <a class="dropdown-item" rel="alternate" hreflang="fr"
                                href="mother-africa-festival.html"><span class="fi fi-fr"></span> FR</a>
                            <a class="dropdown-item" rel="alternate" hreflang="en"
                                href="../../en/evenement/mother-africa-festival.html"><span class="fi fi-gb"></span>
                                EN</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <form id="navbar-search-form" class="d-none d-xl-block"
                            action="https://www.tikerama.com/fr/evenements" method="GET">
                            <div class="input-group">
                                <input type="text" name="recherche" class="navbar-search-input form-control"
                                    placeholder='Recherchez un événement...'>
                                <div class="input-group-append">
                                    <button type="submit" class="btn navbar-search-btn"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                            <ul class="navbar-search-suggestions ml-0 display-none"></ul>
                        </form>
                    </li>
                    <div class="vertical-line d-none d-xl-block"></div>
                    <div class="horizontal-line d-block d-xl-none my-2"></div>
                    <li class="nav-item dropdown d-none d-xl-block">
                        <a class="nav-link dropdown-toggle user-navbar-button px-3" href="javascript:void(0)"
                            id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                        <div class="dropdown-menu" aria-labelledby="account-dropdown">
                            <a class="dropdown-item" href="../connexion.html">Connexion</a>
                            <a class="dropdown-item" href="../inscription.html">Ouvrir un compte</a>
                        </div>
                    </li>
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link" href="../connexion.html">Connexion</a>
                    </li>
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link" href="../inscription.html">Ouvrir un compte</a>
                    </li>
                    <li class="nav-item py-3 py-xl-0">
                        <a class="nav-link link-navbar-button font-weight-bold" href="../../en/connexion.html">Créer
                            événement</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="space-before"></div>

    <div class="d-none d-lg-block">
        <div id="buy-tickets-cta" class="add-box-shadow text-center px-5 py-3 bg-white">
            <span class="close-buy-tickets-cta"><i class="fa-solid fa-xmark"></i></span>
            <h3>{{this.onevent.event_name}}</h3>
            <p>{{this.onevent.cost}} FCFA</p>
            <a class="btn btn-theme text-uppercase" href="../paiement/choix-tickets/mother-africa-festival.html">acheter
                tickets en ligne <i class="fa-solid fa-angles-right blinking"></i></a>
        </div>
    </div>

    <div id="buy-tickets-cta-mobile" class="d-block d-lg-none text-center bg-white p-3">
        <span>{{this.onevent.cost}} FCFA</span>
        <a class='btn btn-theme text-uppercase w-100 mb-1'
            href="/users/reservation/{{this.onevent._id}}">acheter tickets en ligne <i
                class="fa-solid fa-angles-right blinking"></i></a>
    </div>

    <div class="container-fluid py-3 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <ul class="breadcrumb bg-transparent p-0">
                        <li class="mr-2"><a href="../../fr.html">Accueil</a> <i class="fa-solid fa-angle-right"></i>
                        </li>
                        <li class="mr-2"><a href="../evenements.html">Événements</a> <i
                                class="fa-solid fa-angle-right"></i></li>
                        <li class="red-theme-color">{{this.onevent.event_name}}</li>
                    </ul>
                </div>
                <div class="col-12">
                    <h1 class="h1-with-border text-uppercase pl-2">{{this.onevent.event_name}}</h1>
                    <p class="my-2"><i class="fa-solid fa-calendar"></i> {{this.onevent.date_due}}
                        <small class="text-muted">GMT</small> </p>
                    <p class="my-2"><i class="fa-solid fa-map-pin"></i> {{this.onevent.place}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-7">
                <div class="slick-area-event-images d-flex justify-content-center align-items-center">
                    <img class="slick-slide"
                        src="{{this.onevent.image}}"
                        alt="{{this.onevent.event_name}}">
                </div>
                <div class="event-description">
                    <p>{{this.onevent.description}}</p>
                </div>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <div class="event-info-sidebar">
                    <a class='btn btn-theme text-uppercase w-100 d-none d-lg-block mb-2'
                        href="/users/reservation/{{this.onevent._id}}">acheter tickets en ligne <i
                            class="fa-solid fa-angles-right"></i></a>
                    <p class="pt-1 pb-3 d-none d-lg-block">À {{this.onevent.cost}} F CFA</p>
                    <h2 class="mt-3">{{this.onevent.event_name}}</h2>
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td class="m-0 py-2 px-0 float-left text-left text-capitalize">
                                    Catégorie <div class="s-border"></div>
                                    <div class="m-border"></div>
                                </td>
                                <td><span class="float-right">Concert-Spectacle</span></td>
                            </tr>
                            <tr>
                                <td class="m-0 py-2 px-0 float-left text-left">
                                    Lieu <div class="s-border"></div>
                                    <div class="m-border"></div>
                                </td>
                                <td><span class="float-right">{{this.onevent.place}}</span></td>
                            </tr>
                            <tr>
                                <td class="m-0 py-2 px-0 float-left text-left">
                                    Date et heure <div class="s-border"></div>
                                    <div class="m-border"></div>
                                </td>
                                <td><span class="float-right"> {{this.onevent.date_due}}
                                        <small class="text-muted">GMT</small></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-5 mt-5 mt-lg-0">
                <h3>Questions fréquentes</h3>
                <div class="s-border"></div>
                <div class="m-border"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="view-event-accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" aria-expanded="false" data-target="#c4"><i
                                            class="fa-solid fa-chevron-up"></i><i class="fa-solid fa-chevron-down"></i>
                                        Quels sont les moyens de paiement ?</a>
                                </div>
                                <div id="c4" class="collapse">
                                    <p> Vous pouvez payez en ligne par Wave, Mobile Money ou carte bancaire, en point de
                                        vente physique ou par appel/whatsapp. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="view-event-accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" aria-expanded="false" data-target="#c0"><i
                                            class="fa-solid fa-chevron-up"></i><i class="fa-solid fa-chevron-down"></i>
                                        Comment accéder à mes tickets après achat ?</a>
                                </div>
                                <div id="c0" class="collapse">
                                    <p>Après votre achat, vous recevrez vos tickets par email ou sms et vous pourrez
                                        également les retrouver à tout moment dans votre compte EVENT-PLACE.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="view-event-accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" aria-expanded="false" data-target="#c1"><i
                                            class="fa-solid fa-chevron-up"></i><i class="fa-solid fa-chevron-down"></i>
                                        Comment valider mon ticket à l'entrée le jour J ?</a>
                                </div>
                                <div id="c1" class="collapse">
                                    <p>Pour valider votre ticket, faites scanner le QR code par les organisateurs à
                                        l'entrée. Pour un événement en ligne, utilisez le lien dans le ticket.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="view-event-accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a data-toggle="collapse" aria-expanded="false" data-target="#c3"><i
                                            class="fa-solid fa-chevron-up"></i><i class="fa-solid fa-chevron-down"></i>
                                        Puis-je acheter des tickets pour d'autres personnes ?</a>
                                </div>
                                <div id="c3" class="collapse">
                                    <p>Bien sûr. Vous pouvez acheter des tickets pour d'autres personnes et les partager
                                        avec les personnes concernées après l'achat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <h3>Partager l'événement ?</h3>
                <div class="s-border"></div>
                <div class="m-border"></div>
                <div id="share-block"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid subscribe mb-5" id="souscrire-newsletter">
        <div class="container">
            <div class="section-title text-center text-md-left">
                <h2 class="text-white">inscrivez-vous à la newsletter</h2>
                <div class="bar-border mx-auto mx-md-0 bar-border-02-200"></div>
                <p class="text-white mt-3">Vous recevrez une fois par semaine, les meilleurs événements à venir.</p>
            </div>
            <div class="row">
                <div class="col-md-5 inline-search-area mx-auto">
                    <form method="POST" id="subscribe-newsletter-form">
                        <input name="first-name" type="text" class="d-none">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder=" Adresse email"
                                autocomplete="email" required>
                            <div class="input-group-append">
                                <button id="subscribe-btn-submit" type="submit"
                                    class="btn btn-theme text-uppercase">s'abonner</button>
                            </div>
                        </div>
                        <input type="hidden" name="_token" value="tcmBEqr9xRrjWafq39jYBzWblter8cAV65ENvK5O">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-spinner">
        <svg viewBox="0 0 100 100">
            <defs>
                <filter id="shadow">
                    <feDropShadow dx="0" dy="0" stdDeviation="0" flood-color="#f0151f" />
                </filter>
            </defs>
            <circle cx="50" cy="50" r="45" />
        </svg>
    </div>
    <form id="action-token">
        <input type="hidden" name="_token" value="tcmBEqr9xRrjWafq39jYBzWblter8cAV65ENvK5O">
    </form>
    <input name="locale" type="hidden" value="fr">
    <div id="back-to-top" class="cursor-pointer py-1 px-2">
        <i class="fa-solid fa-angle-up"></i>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 mb-3 mb-lg-0">
                    <a href="../../fr.html"><img class="img-fluid footer-logo"
                            src="../../../img/brand/logo_event_place.png"
                            alt="EVENT-PLACE, N°1 de la billetterie événementielle en Côte d'Ivoire. Acheter et vendre des tickets d'événements n'a jamais été aussi facile."></a>
                    <p>Achetez et vendez des tickets d'événements.</p>
                    <div class="store-apps text-center text-lg-left">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tikerama.twa">
                            <img class="img-fluid" src="../../../img/fixed/telecharger-tikerama-sur-playstore.png"
                                alt="Téléchargez l'application EVENT-PLACE depuis Google Play Store et boostez votre expérience lors de vos événements.">
                        </a>
                        <a target="_blank" href="https://apps.apple.com/app/tikerama/id6443921996">
                            <img class="img-fluid" src="../../../img/fixed/telecharger-tikerama-sur-app-store.png"
                                alt="Téléchargez l'application EVENT-PLACE depuis l'App Store et boostez votre expérience lors de vos événements.">
                        </a>
                    </div>
                    <div class="social-list text-center text-lg-left mt-4">
                        <p class="font-weight-bold">Rejoignez-nous sur les réseaux sociaux :</p>
                        <ul class="mx-auto">
                            <li><a href="https://www.facebook.com/tikerama.officiel"><i
                                        class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/tikerama.civ"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/tikerama"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/tikerama"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 mb-3 mb-lg-0">
                    <h4>Pages</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="links">
                        <li><a href="../evenements.html">Événements</a></li>
                        <li><a href="../faq.html">FAQ</a></li>
                        <li><a href="../points-de-vente-physique.html">Tous les points de vente</a></li>
                        <li><a href="../nous-contacter.html">Nous contacter</a></li>
                        <li><a href="../../en/connexion.html">Dashboard</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 mb-3 mb-lg-0">
                    <h4 class="text-capitalize">catégories</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="links">
                        <li><a href="../evenementsb571.html?categorie=Soir%c3%a9e-Party">Soirée-Party</a></li>
                        <li><a href="../evenements3092.html?categorie=Concert-Spectacle">Concert-Spectacle</a></li>
                        <li><a href="../evenements573a.html?categorie=Sport">Sport</a></li>
                        <li><a href="../evenements43ff.html?categorie=Tourisme">Tourisme</a></li>
                        <li><a href="../evenementsb284.html?categorie=Formation">Formation</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mb-3 mb-lg-0">
                    <h4>Mentions légales</h4>
                    <div class="s-border"></div>
                    <div class="m-border"></div>
                    <ul class="links">
                        <li><a href="../conditions/politique-de-confidentialite.html">Politique de confidentialité</a>
                        </li>
                        <li><a href="../conditions/conditions-generales-de-vente.html">Conditions générales de vente</a>
                        </li>
                        <li><a href="../conditions/conditions-generales-utilisation.html">Conditions générales
                                d'utilisation</a></li>
                        <li><a href="../conditions/charte-de-conduite.html">Notre charte de bonne conduite</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center copyright">
            <small>&copy; 2024 EVENT-PLACE, tous droits reservés.</small>
        </div>
    </footer>
    <script type="text/javascript" src="../../../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../../bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="../../../slick-1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="../../../js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="text/javascript" src="../../../js/jwt-decode.min.js"></script>
    <script type="text/javascript" src="../../../js/utils-functions5fd6.js?v=3068"></script>
    <script type="text/javascript" src="../../../js/datatables.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery.dirty.min.js"></script>
    <script type="text/javascript"
        src="../../../www.google.com/recaptcha/api5a07.js?render=6Lc8fKQiAAAAAPcKt9lBRuhiVJ5NwmusJnhn0MQH"
        async></script>
    <script type="text/javascript" src="../../../js/swiper.min.js"></script>
    <script type="text/javascript" src="../../../js/moment.min.js"></script>
    <script type="text/javascript" src="../../../js/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery.paginate.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery.c-share.min.js"></script>
    <script type="text/javascript" src="../../../js/app1f30.js?v=5562"></script>
</body>

</html>